
:root {
    --background-black: #04132B;
    --text-color: #DEDECB;
    --disabled-background:rgb(232, 190, 190);
    --error-color: rgb(212, 31, 31);
    font-family: 'Courier', sans-serif;
}

body {
    all: unset;
    background-color: var(--background-black);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
}
.error{
    color: var(--error-color);
}
.btnDisabled{
    background-color: var(--disabled-background);
}

.input{
    background-color: var(--background-black);
    border: solid 1px var(--text-color);
    color: var(--text-color);
    font-family: inherit;
    width: 150px;
    height: 20px;
    margin-top: .6rem;
}

.label{
    font-family: inherit;
    color: var(--text-color);
   
}

.mainWrapper {
    width: 415px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 1rem;
}

p {
    font-size: .8rem;
}


.text {
    max-width: 415px;
    text-align: center;
    padding: 1rem;
}

#mapa {
    max-width: 415px;
    text-align: center;
    padding: 1rem;
}
.map {
    object-fit: cover;
    align-self: center;
    width: 100%;
    height: 90%;
}
.ice{
    background-blend-mode: screen
}

.image {
    object-fit: fill;
    align-self: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn {
    margin-top: 1rem;
    background-color: var(--background-black);
    border: 1px var(--text-color) solid;
    color: var(--text-color);
    font-family: inherit;
    border-radius: 4%;
    width: 100px;
    height: 30px;    
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

.unvisible {
    display: none;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}